.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.custom-scroll {
  scroll-snap-type: x mandatory;
  cursor: grab;
  -webkit-overflow-scrolling: touch;
}
